.nth-table {
 
    border-collapse: collapse;
 
    border: 1px solid #824100;
  
 
  }
 
 .nth-table tr:nth-child(odd){
 
        background: #9DCECE;
 
}

 
.nth-table th{
 
    border: 1px dotted #FFA346;
 
    color: #3E5260;
 
}
 
.nth-table td{
 
    border: 1px dashed #000;
 
    color: #002F5E;
 
   
  }